/* Default style for links */
a:active  { color: #FF0000}
a:hover   { color: #660099}
a:link    { color: #FF0000}
a:visited { color: #808080}

/* Default style */
body
{
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #FFFFFF;
}

/* Use this style for footnote numbers */
span.Footnote
{
  font-size: small;
  vertical-align: super
}

/* Use this style to control spacing for inline related topics tags */
div.WWHInlineRelatedTopics
{
  margin-top:    8px;
  margin-bottom: 4px;
}

/* Use this class definition to control the format of breadcrumbs */
.breadcrumb
{
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #FFFFFF;
}